*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}
.input{
display: flex;
align-items: center;
flex-direction: column;
gap: 15px;
padding-top: 300px;
}
.img{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.i{
    width: 400px;
    height: 40px;
    border-radius: 10px;
} 
img{
    padding-left: 20px;
}
.K{
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top:100px ;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding-top: 3px;
}
.po{
    width: 100px;
    height: 100px;
}
